$font: "Unbounded", sans-serif;

$accent: #7027E2;
$light: #fff;
$dark: #2a2f36;
$gray: #ededed;

$tr: .3s;

$br-min: 20px;
$br-max: 50px;

$r_desk_full_over: 1600px;
$r_desk_full: 1500px;
$r_desk_wxga: 1366px;
$r_desk: 1024px;
$r_desk_min: 920px;
$r_tab: 768px; 